* {
	font-family: 'Abel', sans-serif;
	font-size: 16px;
	margin: 0;
}

.row {
	display: flex;
	padding: 10px;
	border-radius: 15px;
	background-color: #529a86;
	color: #ffffff;
    	border: none;
    	font-size: 20px;
    	text-align: left;
    	margin: 10px 10px 0 10px;
}

.col {
	display: inline-block;
	width: 50%;
	padding: 10px 0 10px 0;
	
}

.col img {
	width: 100%;
}

.col ul {
	padding: 10px;
	list-style: none;
}

.col ul li {
	font-weight: bold;
}

button { 
    	border: none;
	cursor: pointer;
	border-radius: 25px;
	background-color: #ffffff;
	box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
	color: #529a86;
	text-align: center;
	margin: 30px 0 0 20px;
   	padding: 10px;
}

.open {
	display: none;
}

.open1 {
	display: none;
}

.open2{
	display: none;
}

.open3{
	display: none;
}

.open4{
	display: none;
}

.open5{
	display: none;
}

ul {
	border-radius: 15px;
	color: #ffffff;
	padding: 30px;
    	margin: 0 10px 0 10px;
    	font-size: 20px;
	background-color: #529a86;
	list-style: none;
}

ul li {
	font-weight: bold;
}
